In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Eric/Projects/Student_Performance_Factors/data/StudentPerformanceFactors.csv')

In [3]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [5]:
df.shape

(6607, 20)

In [6]:
df.value_counts()

Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources  Extracurricular_Activities  Sleep_Hours  Previous_Scores  Motivation_Level  Internet_Access  Tutoring_Sessions  Family_Income  Teacher_Quality  School_Type  Peer_Influence  Physical_Activity  Learning_Disabilities  Parental_Education_Level  Distance_from_Home  Gender  Exam_Score
1              69          High                  Medium               Yes                         6            97               Medium            Yes              1                  Low            Medium           Public       Positive        3                  No                     High School               Near                Female  61            1
               81          Medium                Medium               Yes                         8            66               Medium            Yes              1                  Low            Medium           Public       Negative        2                  No                     College                   Near                Male    60            1
               88          Medium                High                 Yes                         4            72               High              Yes              3                  Medium         Medium           Private      Negative        2                  No                     College                   Near                Male    92            1
2              67          Medium                Medium               No                          6            73               Low               Yes              1                  Low            Medium           Private      Positive        2                  No                     College                   Moderate            Male    58            1
               98          High                  Medium               No                          4            64               Medium            Yes              1                  Low            High             Private      Neutral         2                  No                     High School               Near                Female  65            1
                                                                                                                                                                                                                                                                                                                                                                ..
39             92          Medium                Medium               No                          9            73               Medium            Yes              1                  Medium         Medium           Public       Negative        4                  No                     Postgraduate              Moderate            Male    75            1
               95          Medium                High                 Yes                         9            54               High              Yes              2                  Medium         Medium           Private      Positive        3                  No                     High School               Moderate            Male    77            1
               97          High                  High                 Yes                         10           91               Medium            Yes              2                  Low            Medium           Public       Positive        3                  No                     High School               Moderate            Female  79            1
43             86          High                  Medium               Yes                         7            97               Medium            Yes              2                  Medium         High             Public       Positive        1                  No                     High School               Near                Female  78            1
44             68          High                  Low                  No                          9            75               Low               Yes              3                  Medium         High             Private      Negative        2                  No                     High School               Moderate            Female  71            1
Name: count, Length: 6378, dtype: int64

In [7]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

In [8]:
df.isna().sum().sort_values(ascending=False)

Parental_Education_Level      90
Teacher_Quality               78
Distance_from_Home            67
Hours_Studied                  0
Access_to_Resources            0
Parental_Involvement           0
Attendance                     0
Extracurricular_Activities     0
Motivation_Level               0
Internet_Access                0
Previous_Scores                0
Sleep_Hours                    0
Family_Income                  0
Tutoring_Sessions              0
School_Type                    0
Peer_Influence                 0
Learning_Disabilities          0
Physical_Activity              0
Gender                         0
Exam_Score                     0
dtype: int64

In [9]:
df.columns = (df.columns
              
              .str.strip()
              .str.lower()
              .str.replace(" ","_")
              .str.replace(r"[^a-z0-9_]", "", regex=True)
            )

In [10]:
df.head()

,hours_studied,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,motivation_level,internet_access,tutoring_sessions,family_income,teacher_quality,school_type,peer_influence,physical_activity,learning_disabilities,parental_education_level,distance_from_home,gender,exam_score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [ ]:
df.rename({'distance_from_home': 'school_distance_from_home','physical_activity': 'student_physical_activity'}, axis=1, inplace=True)
df.head()

,hours_studied,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,motivation_level,internet_access,tutoring_sessions,family_income,teacher_quality,school_type,peer_influence,student_physical_activity,learning_disabilities,parental_education_level,school_distance_from_home,gender,exam_score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [14]:
#NaNs
df.isnull().sum() *100/len(df)

hours_studied                 0.000000
attendance                    0.000000
parental_involvement          0.000000
access_to_resources           0.000000
extracurricular_activities    0.000000
sleep_hours                   0.000000
previous_scores               0.000000
motivation_level              0.000000
internet_access               0.000000
tutoring_sessions             0.000000
family_income                 0.000000
teacher_quality               1.180566
school_type                   0.000000
peer_influence                0.000000
student_physical_activity     0.000000
learning_disabilities         0.000000
parental_education_level      1.362192
school_distance_from_home     1.014076
gender                        0.000000
exam_score                    0.000000
dtype: float64

In [19]:
df['teacher_quality'].unique()
df['teacher_quality'].fillna('Unknown', inplace=True)
df.isnull().sum() *100/len(df)

hours_studied                 0.000000
attendance                    0.000000
parental_involvement          0.000000
access_to_resources           0.000000
extracurricular_activities    0.000000
sleep_hours                   0.000000
previous_scores               0.000000
motivation_level              0.000000
internet_access               0.000000
tutoring_sessions             0.000000
family_income                 0.000000
teacher_quality               0.000000
school_type                   0.000000
peer_influence                0.000000
student_physical_activity     0.000000
learning_disabilities         0.000000
parental_education_level      1.362192
school_distance_from_home     1.014076
gender                        0.000000
exam_score                    0.000000
dtype: float64

In [21]:
df['parental_education_level'].fillna('Unknown', inplace=True)
df['school_distance_from_home'].fillna('Unknown', inplace=True)
df.isnull().sum() *100/len(df)

C:\Users\Eric\AppData\Local\Temp\ipykernel_8652\993040675.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['school_distance_from_home'].fillna('Unknown', inplace=True)

hours_studied                 0.0
attendance                    0.0
parental_involvement          0.0
access_to_resources           0.0
extracurricular_activities    0.0
sleep_hours                   0.0
previous_scores               0.0
motivation_level              0.0
internet_access               0.0
tutoring_sessions             0.0
family_income                 0.0
teacher_quality               0.0
school_type                   0.0
peer_influence                0.0
student_physical_activity     0.0
learning_disabilities         0.0
parental_education_level      0.0
school_distance_from_home     0.0
gender                        0.0
exam_score                    0.0
dtype: float64

In [22]:
df.isnull().sum() *100/len(df)

hours_studied                 0.0
attendance                    0.0
parental_involvement          0.0
access_to_resources           0.0
extracurricular_activities    0.0
sleep_hours                   0.0
previous_scores               0.0
motivation_level              0.0
internet_access               0.0
tutoring_sessions             0.0
family_income                 0.0
teacher_quality               0.0
school_type                   0.0
peer_influence                0.0
student_physical_activity     0.0
learning_disabilities         0.0
parental_education_level      0.0
school_distance_from_home     0.0
gender                        0.0
exam_score                    0.0
dtype: float64

In [25]:
#check data types
df.dtypes

hours_studied                  int64
attendance                     int64
parental_involvement          object
access_to_resources           object
extracurricular_activities    object
sleep_hours                    int64
previous_scores                int64
motivation_level              object
internet_access               object
tutoring_sessions              int64
family_income                 object
teacher_quality               object
school_type                   object
peer_influence                object
student_physical_activity      int64
learning_disabilities         object
parental_education_level      object
school_distance_from_home     object
gender                        object
exam_score                     int64
dtype: object

In [41]:
#create bins for hours studied
df['hours_studied'].unique()
hrs_studied_bins = [0, 10, 20, 30, 40, 50]
hrs_studied_labels=['0-9','10-19','20-29','30-39','40-49']

df['hours_studied_range'] =pd.cut(df['hours_studied'], bins=hrs_studied_bins, labels=hrs_studied_labels)
df[['hours_studied','hours_studied_range']]

      hours_studied hours_studied_range
0                23               20-29
1                19               10-19
2                24               20-29
3                29               20-29
4                19               10-19
...             ...                 ...
6602             25               20-29
6603             23               20-29
6604             20               10-19
6605             10                 0-9
6606             15               10-19

[6607 rows x 2 columns]

In [43]:
df.head()

,hours_studied,hours_studied_range,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,motivation_level,internet_access,...,family_income,teacher_quality,school_type,peer_influence,student_physical_activity,learning_disabilities,parental_education_level,school_distance_from_home,gender,exam_score
0,23,20-29,84,Low,High,No,7,73,Low,Yes,...,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,10-19,64,Low,Medium,No,8,59,Low,Yes,...,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,20-29,98,Medium,Medium,Yes,7,91,Medium,Yes,...,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,20-29,89,Low,Medium,Yes,8,98,Medium,Yes,...,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,10-19,92,Medium,Medium,Yes,6,65,Medium,Yes,...,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [44]:
#update column arrangement
col_to_move = 'hours_studied_range'
df.insert(1, col_to_move, df.pop(col_to_move))
df.head()

,hours_studied,hours_studied_range,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,motivation_level,internet_access,...,family_income,teacher_quality,school_type,peer_influence,student_physical_activity,learning_disabilities,parental_education_level,school_distance_from_home,gender,exam_score
0,23,20-29,84,Low,High,No,7,73,Low,Yes,...,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,10-19,64,Low,Medium,No,8,59,Low,Yes,...,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,20-29,98,Medium,Medium,Yes,7,91,Medium,Yes,...,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,20-29,89,Low,Medium,Yes,8,98,Medium,Yes,...,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,10-19,92,Medium,Medium,Yes,6,65,Medium,Yes,...,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [47]:
#create bins for hours studied
df['previous_scores'].unique()
prev_scores_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
prev_scores_labels=['0-9','10-19','20-29','30-39','40-49','50-59','60-69','70-79','80-89','90-99']

df['previous_scores_range'] =pd.cut(df['previous_scores'], bins=prev_scores_bins, labels=prev_scores_labels)
df[['previous_scores','previous_scores_range']]

      previous_scores previous_scores_range
0                  73                 70-79
1                  59                 50-59
2                  91                 90-99
3                  98                 90-99
4                  65                 60-69
...               ...                   ...
6602               76                 70-79
6603               81                 80-89
6604               65                 60-69
6605               91                 90-99
6606               94                 90-99

[6607 rows x 2 columns]

In [48]:
#update column arrangement
col_to_move2 = 'previous_scores_range'
df.insert(8, col_to_move2, df.pop(col_to_move2))
df.head()

,hours_studied,hours_studied_range,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,previous_scores_range,motivation_level,...,family_income,teacher_quality,school_type,peer_influence,student_physical_activity,learning_disabilities,parental_education_level,school_distance_from_home,gender,exam_score
0,23,20-29,84,Low,High,No,7,73,70-79,Low,...,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,10-19,64,Low,Medium,No,8,59,50-59,Low,...,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,20-29,98,Medium,Medium,Yes,7,91,90-99,Medium,...,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,20-29,89,Low,Medium,Yes,8,98,90-99,Medium,...,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,10-19,92,Medium,Medium,Yes,6,65,60-69,Medium,...,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [49]:
#create bins for hours studied
df['exam_score'].unique()
exam_score_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
exam_score_labels=['0-9','10-19','20-29','30-39','40-49','50-59','60-69','70-79','80-89','90-99']

df['exam_score_range'] =pd.cut(df['exam_score'], bins=exam_score_bins, labels=exam_score_labels)
df[['exam_score','exam_score_range']]

      exam_score exam_score_range
0             67            60-69
1             61            60-69
2             74            70-79
3             71            70-79
4             70            60-69
...          ...              ...
6602          68            60-69
6603          69            60-69
6604          68            60-69
6605          68            60-69
6606          64            60-69

[6607 rows x 2 columns]

In [51]:
#update column arrangement
col_to_move3 = 'exam_score_range'
df.insert(22, col_to_move3, df.pop(col_to_move3))
df.head()

,hours_studied,hours_studied_range,attendance,parental_involvement,access_to_resources,extracurricular_activities,sleep_hours,previous_scores,previous_scores_range,motivation_level,...,teacher_quality,school_type,peer_influence,student_physical_activity,learning_disabilities,parental_education_level,school_distance_from_home,gender,exam_score,exam_score_range
0,23,20-29,84,Low,High,No,7,73,70-79,Low,...,Medium,Public,Positive,3,No,High School,Near,Male,67,60-69
1,19,10-19,64,Low,Medium,No,8,59,50-59,Low,...,Medium,Public,Negative,4,No,College,Moderate,Female,61,60-69
2,24,20-29,98,Medium,Medium,Yes,7,91,90-99,Medium,...,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74,70-79
3,29,20-29,89,Low,Medium,Yes,8,98,90-99,Medium,...,Medium,Public,Negative,4,No,High School,Moderate,Male,71,70-79
4,19,10-19,92,Medium,Medium,Yes,6,65,60-69,Medium,...,High,Public,Neutral,4,No,College,Near,Female,70,60-69