In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('StudentPerformanceFactors.csv')

In [4]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [6]:
df.shape

(6607, 20)

In [7]:
df.value_counts()

Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources  Extracurricular_Activities  Sleep_Hours  Previous_Scores  Motivation_Level  Internet_Access  Tutoring_Sessions  Family_Income  Teacher_Quality  School_Type  Peer_Influence  Physical_Activity  Learning_Disabilities  Parental_Education_Level  Distance_from_Home  Gender  Exam_Score
1              69          High                  Medium               Yes                         6            97               Medium            Yes              1                  Low            Medium           Public       Positive        3                  No                     High School               Near                Female  61            1
               81          Medium                Medium               Yes                         8            66               Medium            Yes              1                  Low            Medium           Public       Negative        2                  No                     College                   Near                Male    60            1
               88          Medium                High                 Yes                         4            72               High              Yes              3                  Medium         Medium           Private      Negative        2                  No                     College                   Near                Male    92            1
2              67          Medium                Medium               No                          6            73               Low               Yes              1                  Low            Medium           Private      Positive        2                  No                     College                   Moderate            Male    58            1
               98          High                  Medium               No                          4            64               Medium            Yes              1                  Low            High             Private      Neutral         2                  No                     High School               Near                Female  65            1
                                                                                                                                                                                                                                                                                                                                                                ..
39             92          Medium                Medium               No                          9            73               Medium            Yes              1                  Medium         Medium           Public       Negative        4                  No                     Postgraduate              Moderate            Male    75            1
               95          Medium                High                 Yes                         9            54               High              Yes              2                  Medium         Medium           Private      Positive        3                  No                     High School               Moderate            Male    77            1
               97          High                  High                 Yes                         10           91               Medium            Yes              2                  Low            Medium           Public       Positive        3                  No                     High School               Moderate            Female  79            1
43             86          High                  Medium               Yes                         7            97               Medium            Yes              2                  Medium         High             Public       Positive        1                  No                     High School               Near                Female  78            1
44             68          High                  Low                  No                          9            75               Low               Yes              3                  Medium         High             Private      Negative        2                  No                     High School               Moderate            Female  71            1
Name: count, Length: 6378, dtype: int64

In [8]:
df.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000